{{>layouts/header}}

<div class="container mt-5">
    <h2>자유게시판</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
        {{#articleList}}
            <tr>
                <th>{{id}}</th>
                <td><a href="/articles/{{id}}" class="text-decoration-none">{{title}}</a></td>
                <td>{{content}}</td>
            </tr>
        {{/articleList}}
        </tbody>
    </table>

    <a href="/articles/new" class="btn btn-primary">New Article</a>
</div>

{{>layouts/footer}}